div.chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: none;
    >div, input {
        display: block;
        background: white;
        box-shadow: 2px 4px 4px rgba(0,0,0, 0.04);
        border: none;
        outline: none;
        font: {
            family: 'Open Sans', sans-serif;
            size: 60%;
        }
        box-sizing: border-box;
        padding: 10px;
        margin: 15px 0 0px auto;
        max-width: 200px;
        width: auto;
        height: auto;
        span {
            margin: auto 5px;
            display: inline-block;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;
        }
        word-wrap: break-word;
            word-break: break-all;
    }
}