button.option {
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid lightgrey;
    border-bottom: 2px solid #00000000;
    a {
        font-size: 120%;
        color: rgb(32, 32, 32);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;    
        display: inline-block;
        margin: auto 10px;
    }
    transition: all 0.2s;
    &:hover {
        background: rgba(0, 0, 0, 0.048);
        border-bottom: 2px solid lightslategrey;
    }
}

div.menu {
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    font: {
        family: 'Open Sans Condensed', sans-serif;
    }
    background-color: white;
    border-bottom: 1px solid lightgrey;
}