div.article {
    margin: auto;
    width: 60%;
    border-right: 1px solid lightgrey;
    font: {
        size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    div.article {
        width: 100%;
    }
}