@import '../../animations/_animations';

.comment {
    textarea, .hiddenDiv {
        resize: both;
    }
    span, textarea, .hiddenDiv {
        height: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        width: 100%;
        outline: none;
        background: rgb(248, 248, 248);
        display: block;
        border: none;
        box-sizing: border-box;
        padding: 5px 10px;
        border-radius: 15px;
        margin:10px auto;
        float: left;
        transition: all 0.2s;
        font: {
            family: 'Open Sans', sans-serif;
            size: 100%;
        }
        &::-webkit-scrollbar {
            width: 0 !important;
        }  
    }
    textarea:focus {
        border: 1px solid lightgrey;
    }
}