.comment {
    border-top: 1px solid lightgrey;
    margin: auto 15px;
    span, textarea, .hiddenDiv {
        white-space: pre-wrap;
        word-wrap: break-word;
        resize: both;
        overflow: auto;
        width: 90%;
        outline: none;
        background: whitesmoke;
        display: block;
        border: none;
        box-sizing: border-box;
        padding: 5px 10px;
        border-radius: 15px;
        margin: 10px auto;
        float: left;
        font: {
            family: 'Open Sans', sans-serif;
            size: 100%;
        }
        &::-webkit-scrollbar {
            width: 0 !important;
        }  
    }
}