div.all-posts {
    div.post {
        font: {
            size: 80%;
            family: 'Open Sans', sans-serif;
        }
        
        width: 60%;
        margin: 10px auto;
        word-wrap: break-word;
        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        h1 {
            display: block;
            border-bottom: 1px solid lightgrey;
            line-height: 2.0;
        }
    }
    width: 100%;
    div.md-editor {
        font: {
            size: 80%;
            family: 'Open Sans', sans-serif;
        }
        button#save-post {
            font: {
                size: 100%;
            }
            font-family: 'Roboto', sans-serif;
            background: #ff1744;
            border-radius: 5px;
            width: 200px;
            margin: 10px auto;
            color: whitesmoke;
            display: block;
            border: none;
            line-height: 2;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);        
            transition: 0.2s all;
        }
        textarea {
            height: 200px;
            display: block;
            color: #444444;
            font-size: 90%;
            border-radius: 5px;
            padding: 10px;
            background-color: none;
            border: none;
            //border-bottom: 1px solid lightgrey;
            box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
            width: 90%;
            margin: 10px 5%;
            outline: none;
            word-wrap: break-word;
            //height: 200px;
            resize: both;
            overflow: auto;
            transition: 0.2s all;
            
        }
        width: 60%;
        min-width: 400px;
        margin: 100px auto;
        background: white;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    
        div.md-render {
            width: 90%;
            margin: 10px auto;
            word-wrap: break-word;
            padding: 5px 10px;
            border-bottom: 1px solid lightgrey;
        }
    
        
    }
}



