div.aboutme {
    margin: 100px auto 0px;
    width: 60%;
    font: {
        family: 'Ubuntu Mono', sans-serif;
        size: 90%;
    }
    box-sizing: border-box;
    padding: 10px 20px;   
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    div.aboutme {
        width: 100%;
    }
}